<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>광고 관리</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/all/adList.css}">
</head>
<body>
    <!-- 헤더 -->
    <div class="include" th:replace="~{include/header :: header}"></div>

    <!-- 메인 -->
    <main class="page-adlist">

      <!-- 사이드 바 -->
      <div class="sideMenu" th:replace="~{include/aSide :: aSide}"></div>

      <div class="container">

        <!-- 광고 리스트 -->
        <div class="ad-list">
          <a th:href="@{/admin/adRegistration}" class="btn">광고 등록</a>
          <div class="ad-item">
            <div class="ad-thumb">
              <img src="#" alt="">하드코딩 임시 광고
            </div>
            <div class="meta">
              <div class="row"><span>게시일</span><span>2025.10.14</span></div>
              <div class="row"><span>게시기간</span><span>14일</span></div>
              <div class="row"><span>신청자</span><span>홍길동 변호사</span></div>
              <div class="row"><span>조회수</span><span>27회</span></div>
              <div class="actions">
                <a href="#" class="btn">수정</a>
                <a href="#" class="btn">삭제</a>
              </div>
            </div>
          </div>

          <div class="ad-item" th:each="ad : ${adList}">
            <a class="ad-thumb" th:href="@{/admin/adInfo(adIdx=${ad.adIdx})}">
              <img th:if="${ad.adImgPath != null}" th:src="${ad.adImgPath}" th:alt="${ad.adName}">
              <img th:unless="${ad.adImgPath != null}" th:src="@{/img/test.png}" alt="기본 이미지">
            </a>
            <div class="meta">
              <div class="row">
                <span>게시일: </span>
                <span th:text="${ad.adStartDate}"></span>
              </div>
              <div class="row">
                <span>게시기간: </span>
                <span th:text="${ad.adDuration + ' 일'}"></span>
              </div>
              <div class="row">
                <span>신청자: </span>
                <span th:text="${ad.lawyerName + ' 변호사'}"></span>
              </div>
              <div class="row">
                <span>조회수: </span>
                <span th:text="${ad.adViews + ' 회'}"></span>
              </div>
              <div class="actions">
                <a th:href="@{/admin/adModify(adIdx=${ad.adIdx})}" class="btn">수정</a>
                <a th:href="@{/admin/adDelete(adIdx=${ad.adIdx})}" class="btn">삭제</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>

    <!-- 푸터 -->
    <div class="include" th:replace="~{include/footer :: footer}"></div>

</body>

<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> -->
</html>
