<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>적성글 상세</title>
    <link rel="stylesheet" th:href="@{/css/qnaWrite.css}">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="include" th:replace="~{include/header :: header}"></div>
    <main class="page-qnaWrite">
        <div class="inner">
            <section class="frame">
                <form th:action="${isModify != null and isModify ? '/question/qnaModify' : '/question/qnaWrite'}" 
                      th:object="${qnaWrite}" id="qnaForm" method="post">
                    <div class="form-group">
                        <div class="header-line">
                            <input type="hidden" th:if="${qIdx != null}" name="qIdx" th:value="${qIdx}">
                            <input type="hidden" th:field="*{memberIdx}">
                            <input type="hidden" th:field="*{lawyerIdx}">
                            <input type="hidden" th:field="*{qRegDate}">
                            <input type="hidden" name="qAnswer" value="0">
                            <label for="titleInput" class="form-label">제목</label>
                            <div class="checkbox-group in-header">
                                <input type="checkbox" id="secretCheck" class="checkbox-input" name="qSecret" th:field="*{qSecret}" value="1"/>
                                <label for="secretCheck" class="checkbox-label">비밀글로 작성</label>
                            </div>
                        </div>
                        <input id="titleInput" type="text" class="form-input" placeholder="제목을 입력하세요" th:field="*{qTitle}"/>
                    </div>

                    <div class="form-group">
                        <label for="contentTextarea" class="form-label">내용</label>
                        <textarea id="contentTextarea" class="form-textarea" placeholder="상세 문의 내용을 작성해주세요." th:field="*{qContent}"></textarea>
                    </div>

                    <div class="form-actions">
                        <button type="button" class="btn btn-cancel" id="cancelBtn">취소</button>
                        <button type="submit" class="btn btn-submit" id="submitBtn" disabled>
                            <span th:text="${isModify != null and isModify ? '수정하기' : '글쓰기'}">글쓰기</span>
                        </button>
                    </div>
                </form>
            </section>
        </div>
    </main>
    <div class="include" th:replace="~{include/footer :: footer}"></div>
    <script th:src="@{/js/js.js}"></script>
    <script th:src="@{/js/chatIcon.js}"></script>
    <script th:src="@{/js/qnaWrite.js}"></script>
    <script th:if="${alert}" th:inline="javascript">
        /*<![CDATA[*/
        alert('[[${alert}]]'); // 전달된 alert 메세지 출력
        /*]]>*/
    </script>
</body>
</html>