<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 리스트</title>
    <link rel="stylesheet" th:href="@{/css/noticeList.css}">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="include" th:replace="~{include/header :: header}"></div>

<main class="page-noticeList">
    <!-- 왼쪽 사이드 -->
    <div class="sideMenu" th:replace="~{include/nSide :: nSide}"></div>

    <div class="among">
        <section class="notice-frame">
             <div class="list-top">

      <a th:if="${session.loginAdmin != null and session.loginAdmin.adminRole == 'admin'}"
         th:href="@{/newsBoard/write(category=1)}"
         class="btn-write">
        글쓰기
      </a>
    </div>
            <div class="table-head">
                <div class="col-no">글번호</div>
                <div class="col-title">제목</div>
                <div class="col-date">등록일</div>
            </div>

            <!-- 목록이 있을 때 -->
            <a class="notice-link"
               th:each="n, stat : ${boards}"
               th:href="@{/newsBoard/detail(newsIdx=${n.newsIdx})}">
                <!-- 번호: 전체건수 - (현재페이지-1)*페이지사이즈 - index -->
                <div class="col-no"
                     th:text="${page.totalElements - ((currentPage - 1) * page.size) - stat.index}">
                    1
                </div>
                <div class="col-title" th:text="${n.newsTitle}">[공지] 제목</div>
                <div class="col-date"
                     th:text="${#temporals.format(n.newsRegDate, 'yyyy-MM-dd')}">
                    2025-10-29
                </div>
            </a>

            <!-- 목록이 비었을 때 -->
            <div class="notice-empty" th:if="${#lists.isEmpty(boards)}">
                등록된 공지사항이 없습니다.
            </div>
        </section>

        <!-- 페이지 네비게이션 -->
        <nav class="pagination">
            <!-- 이전 블럭 -->
            <a th:if="${startPage > 1}"
               th:href="@{/newsBoard/list(category=${categoryIdx}, page=${startPage - 1})}">이전</a>

            <!-- 번호들 -->
            <a th:each="p : ${#numbers.sequence(startPage, endPage)}"
               th:href="@{/newsBoard/list(category=${categoryIdx}, page=${p})}"
               th:text="${p}"
               th:classappend="${p == currentPage} ? ' active'">
            </a>

            <!-- 다음 블럭 -->
            <a th:if="${endPage < page.totalPages}"
               th:href="@{/newsBoard/list(category=${categoryIdx}, page=${endPage + 1})}">다음</a>
        </nav>
    </div>
</main>

<div class="include" th:replace="~{include/footer :: footer}"></div>

<script th:src="@{/js/js.js}"></script>
<script th:src="@{/js/chatIcon.js}"></script>
<script th:src="@{/js/noticeList.js}"></script>
</body>
</html>
