<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상담글 상세</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/all/modify.css}">
</head>
<body>
  <div class="include" th:replace="~{include/header :: header}"></div>
  <main class="page-modify">
    <div class="sideMenu" th:replace="~{include/bSide :: bSide}"></div>
    <div class="wrap">
      <div class="backdrop"> 
        <article class="card">
          <div class="inner">
            <h1 class="title" th:text="${boardEntity.boardTitle}"></h1>
            <div class="meta" th:text="{#temporals.format(boardEntity.boardRegDate, 'yyyy-MM-dd')}"></div>
            <div class="body" th:utext="${@commonUtil.markdown(boardEntity.boardContent)}"></div>
            <div class="edit">
              <a class="link" th:href="@{|/board/modify/${boardEntity.id}|}"
              sec:authorize="isAuthenticated()" th:if="${boardEntity.author != null and #authentication.
              getPrincipal().getMemberId() == boardEntity.author.memberId}" th:text="수정"></a>
              <a class="link" href="javascript:void(0);" th:data-uri="@{|/board/delete/${boardEntity.id}|}"
              sec:authorize="isAuthenticated()"
              th:if="${boardEntity.author != nu;; and #authentication.
              getPrincipal().getMemberId() == boardEntity.author.memberId}" th:text="삭제"></a>
            </div>
          </div>

          <!-- 답변/댓글 블록 -->
          
            <div class="ans"> 
              <article class="cmt">
                <div class="cmt-head">
                  <div class="cmt-avatar"><img src="https://via.placeholder.com/72x96" alt="프로필"></div>
                  <div class="chip">김현중 변호사</div>
                  <div class="chip">2025-09-29 21:14</div>
                  <div class="chip">😊 도움됐어요 <strong>2</strong></div>
                </div>
                <div class="cmt-body">
                    소액의 벌금 정도로 마무리 가능성이 높습니다.
                    유사 사건 다수 처리 경험이 있습니다.
                    상담 답변은 사무장이 아닌 변호사가 직접 작성합니다.
                </div>
              </article>
            </div>
          
        </article>
      </div>
    </div>
  </main>
  <div class="include" th:replace="~{include/footer :: footer}"></div>
  <script th:src="@{/all/modify.js}"></script>  
</body>
</html>