<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

    <header class="header" th:fragment="header">
        <div class="container">
            <a class="logo-area" th:href="@{/}">
                <img src="#" class="logo-img">
                <h1 class="logo-text">LawLex</h1>
            </a>
            <div class="inout">
                <!-- 로그인 전: 로그인 링크만 -->
                <div th:if="${session.loginMember == null and session.loginLawyer == null and session.loginAdmin == null}">
                    <a th:href="@{/member/login}">로그인</a>
                </div>
                
                <!-- 로그인 후 (일반회원/변호사): 마이페이지, chaticon만 -->
                <div th:if="${(session.loginMember != null or session.loginLawyer != null) and session.loginAdmin == null}">
                    <div th:replace="~{include/chatIcon :: page-chatIcon}"></div>
                    <a th:href="@{/member/mypage}">마이페이지</a>
                </div>
                
                <!-- 관리자 로그인 후: 관리자페이지, 로그아웃만 -->
                <div th:if="${session.loginAdmin != null}">
                    <a th:href="@{/admin/memberManagement}">관리자 페이지</a>
                    <a th:href="@{/member/logout}">로그아웃</a>
                </div>
            </div>
        </div>
        <nav class="main-menu">
            <a th:href="@{/board/list}">상담</a>
            <!-- 로그인한 일반회원이면 → /chat/member -->
            <a th:if="${session.loginMember != null}"
            th:href="@{/chat/member}">
            실시간 상담
            </a>

            <!-- 로그인한 변호사이면 → /chat/lawyer -->
            <a th:if="${session.loginLawyer != null}"
            th:href="@{/chat/lawyer}">
            실시간 상담
            </a>

            <!-- 로그인 안 했으면 → 로그인 페이지로 -->
            <a th:if="${session.loginMember == null and session.loginLawyer == null}"
            th:href="@{/member/login}">
            실시간 상담
            </a>

            <a th:href="@{/newsBoard/main}">News</a>
            <a th:href="@{/rank/ranking}">랭킹</a>
            <a th:href="@{/question/faq}">문의</a>
        </nav>
    </header>
</body>
</html>
