<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
  <form th:action="@{/member/oauth2/complete}" method="post" th:object="${member123}" enctype="multipart/form-data">
    <input type="text" th:field="*{phone}" placeholder="휴대폰번호">
    <input type="date" th:field="*{idnum}" placeholder="생년월일">
    <input name="text" th:field=*{interestIdx} placeholder="관심분야">
    <button type="submit">완료</button>
</form>
</body>
</html>