<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>포인트 메인</title>
   <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
   <link th:href="@{/css/style.css}" rel="stylesheet"> -->
</head>
<body>
    <!-- 헤더 -->

    <!-- 메인 -->
    <!-- 포인트 결제 -->
    <h1>포인트 결제</h1>
    <div>잔여 포인트: 0</div> <br>

    <form action="#" method="post">
        <div>
            <button type="button">
                <div>100 포인트</div>
                <div>1,000 원</div>
            </button>
            <button type="button">
                <div>220 포인트</div>
                <div>2,000 원</div>
                <div>+20 포인트</div>
            </button>
            <button type="button">
                <div>600 포인트</div>
                <div>5,000 원</div>
                <div>+100 포인트</div>
            </button>
            <button type="button">
                <div>1400 포인트</div>
                <div>10,000 원</div>
                <div>+400 포인트</div>
            </button>
            <button type="button">
                <div>4800 포인트</div>
                <div>30,000 원</div>
                <div>+1800 포인트</div>
            </button>
            <button type="button">
                <div>6000 포인트</div>
                <div>50,000 원</div>
                <div>+1800 포인트</div>
            </button>
        </div>
        <div>
            <label for="#">결제 주의사항</label>
            <div>
                주의사항
                줄글
            </div>
            <div>
                <label for="#">동의합니까?</label>
                <button type="button">네 ✔</button>
            </div>
        </div>
        <button type="submit">결제하기</button>
    </form>

    <!-- 이용 내역 -->
    <span id="newQnA" onclick="newQnA()" style="cursor: pointer;">새로운 문의</span>
    <span id="completedQnA" onclick="completedQnA()" style="cursor: pointer;">답변 완료</span>
    
    <!-- 포인트 이용 내역 -->
    <h1>포인트 이용 내역</h1>
    <div>
        <span onclick="toggleSection('point', this)" style="cursor: pointer;">펼쳐보기 ▼</span>
    </div>

    <div id="point" name="point">
        <div>
            <span>일시</span>
            <span>구분</span>
            <span>변동 포인트</span>
            <span>내역</span>
            <span>잔여 포인트</span>
        </div>
        <div>
            <span>2025-10-01 17:49</span>
            <span>충전</span>
            <span>500 포인트</span>
            <span>포인트 충전</span>
            <span>600 포인트</span>
        </div>
        <div>
            <span>2025-09-30 13:22</span>
            <span>사용</span>
            <span>50 포인트</span>
            <span>상담글 작성</span>
            <span>100 포인트</span>
        </div>
    </div>

    <!-- 결제 내역 -->
    <h1>결제 내역</h1>
    <div>
        <span onclick="toggleSection('payment', this)" style="cursor: pointer;">펼쳐보기 ▼</span>
    </div>

    <div id="payment" name="payment" style="display: none;">
        <div>
            <span>일시</span>
            <span>충전 금액</span>
            <span>포인트</span>
        </div>
        <div>
            <span>2025-10-01 17:49</span>
            <span>5,000 원</span>
            <span>500 포인트</span>
            <button type="button">상세내역</button>
        </div>
        <div>
            <span>2025-07-21 19:11</span>
            <span>5,000 원</span>
            <span>500 포인트</span>
            <button type="button">상세내역</button>
        </div>
    </div>

    <!-- 푸터 -->

</body>

<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> -->
<script> // 포인트 이용 내역, 결제 내역 버튼 로직 따로 작동되게 수정해야됨
function toggleSection(sectionId, toggleElement) {
    const section = document.getElementById(sectionId);
    if (section.style.display === 'none') {
        section.style.display = 'block';
        toggleElement.textContent = '생략하기 ▲';
    } else {
        section.style.display = 'none';
        toggleElement.textContent = '펼쳐보기 ▼';
    }
}
</script>
</html>