<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>포인트 메인</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/point.css}">
</head>
<body>
    <!-- 헤더 -->
    <div class="include" th:replace="~{include/header :: header}"></div>

    <!-- 메인 -->
    <main class="page-point">

      <!-- 회원 정보 -->
      <div id="member-data" style="display: none;" 
        th:data-member-idx="${member.memberIdx}"
        th:data-member-email="${member.memberEmail}"
        th:data-member-name="${member.memberName}"
        th:data-member-phone="${member.memberPhone}">
      </div>
        
      <!-- 포인트 결제 -->
      <form id="payment-form" class="container">
        <div class="titlebar">
            <h1>포인트 결제</h1>
            <span class="small">잔여 포인트 : <b th:text="${member.memberPoint}"></b></span>
        </div>

        <section class="card split">
          <div class="payment">
            <div class="opt-grid">
              <div class="pick" th:each="product, iterStat : ${productList}">
                <input type="radio" 
                       name="selectedProduct" 
                       th:id="'product-' + ${product.productIdx}"
                       th:value="${product.productIdx}"
                       th:data-price="${product.productPrice}"
                       th:data-content="${product.productContent}"
                       th:checked="${iterStat.index == 0}"
                       class="opt-input">
                <label th:for="'product-' + ${product.productIdx}" class="opt">
                    <div th:text="${product.productContent}" class="tag"></div>
                    <div th:text="${product.productPrice}" class="price"></div>
                </label>
              </div>
            </div>
          </div>

          <aside class="side-grid">
            <div class="label">결제 주의사항</div>
            <div class="ask">토스페이를 이용하여 제공하는 상품 및 서비스를 구매하고자 할 경우, LawLex는 거래 당사자간 원활한 의사소통 및 배송, 상담 등 거래이행을 위하여 필요한 최소한의 개인정보를 아래와 같이 제공하고 있습니다. <br><br>
                            1. 개인정보를 제공받는 자 <br>
                            상품 및 서비스 판매자 <br>
                            2. 제공하는 개인정보 항목 <br>
                            이름, 아이디, (휴대)전화번호, 상품 구매정보, 결제수단, 상품 수령인 정보, 개인통관고유부호(통관 필요 상품 주문 시에만 해당) <br>
                            3. 개인정보를 제공받는 자의 이용목적 <br>
                            판매자와 구매자의 원활한 거래 진행, 본인의사의 확인, 고객상담 및 불만처리/부정이용 방지 등의 고객관리, 물품배송, 통관, 새로운 상품/서비스 정보와 고지사항의 안내, 상품/서비스 구매에 따른 혜택 제공, 서비스 개선·통계·분석 <br>
                            4. 개인정보를 제공받는 자의 개인정보 보유 및 이용기간 <br>
                            개인정보 이용목적 달성 시까지 보존합니다. 단, 관계 법령의 규정에 의하여 일정 기간 보존이 필요한 경우에는 해당 기간만큼 보관 후 삭제합니다. <br>
                            위 개인정보 제공 동의를 거부할 권리가 있으나, 거부 시 토스페이를 이용한 상품 및 디지털 콘텐츠 구매가 불가능합니다. 그 밖의 내용은 토스페이 가맹점의 자체 이용약관 및 개인정보처리방침에 따릅니다.</div>
            <div class="radio-row">
                동의합니까?
              <label for="agree" class="radio-square">
                <input type="checkbox" id="agree" name="agree" value="yes">
              </label>
            </div>
            <button type="button" id="payment-button" class="btn">결제하기</button>
          </aside>
        </section>
      </form>

    <!-- 이용 내역 -->
      <div class="container">
        <div class="tabs">
          <div id="pointHistoryTab" class="tab active">포인트 이용 내역</div>
          <div class="tab divider">|</div>
          <div id="paymentHistoryTab" class="tab">결제 내역</div>
        </div>
    
      <!-- 포인트 이용 내역 -->          
      <div id="pointHistory" class="history">
        <div class="scroll">
          <table>
            <thead>
              <tr>
                <th style="width:15%">일시</th>
                <th style="width:15%">구분</th>
                <th style="width:15%">변동 포인트</th>
                <th style="width:auto">내역</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="point : ${pointList}">
                <td th:text="${point.pointRegDate}"></td>
                <td th:text="${point.pointDivision}"></td>
                <td th:text="${point.pointState}"></td>
                <td th:text="${point.pointHistory}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- 결제 내역 -->    
      <div id="paymentHistory" class="history" style="display: none;">
        <div class="scroll">
          <table>
            <thead>
              <tr>
                <th style="width:15%">일시</th>
                <th style="width:15%">충전 금액</th>
                <th style="width:15%">포인트</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="purchase : ${purchaseList}">
                <td th:text="${purchase.purchaseLegDate}"></td>
                <td th:text="${purchase.productPrice}"></td>
                <td th:text="${purchase.productContent}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
    </main>

    <!-- 푸터 -->
    <div class="include" th:replace="~{include/footer :: footer}"></div>
    
    <!-- 토스페이먼츠 SDK -->
    <script src="https://js.tosspayments.com/v2/standard"></script>
    
    <script th:src="@{/js/js.js}"></script>
    <script th:src="@{/js/chatIcon.js}"></script>
    <script th:src="@{/js/point-inline.js}"></script>
    
</body>
</html>