<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>랭킹</title>
    <link rel="stylesheet" th:href="@{/css/ranking.css}">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
    <div class="include" th:replace="~{include/header :: header}"></div>
    <main class="page-ranking">
        <div class="container">

            <div class="title-content"><span class="crown">👑</span>
                <h1>랭킹 TOP 10</h1>
            </div>

            <div class="filter">
                <a class="pickBtn" th:href="@{/rank/ranking(pick='like')}"
                    th:classappend="${pick} == 'like' ? ' on' : ''">좋아요순</a>
                <a class="pickBtn" th:href="@{/rank/ranking(pick='answer')}"
                    th:classappend="${pick} == 'answer' ? ' on' : ''">답변수순</a>
            </div>

            <section>
                <div class="top" th:each="rank, st : ${rankingList}"
                    th:class="${st.index==0 ? 'top-1' : (st.index==1 ? 'top-2' : (st.index==2 ? 'top-3' : 'top'))}">
                    <div class="left">
                        <div class="num" th:text="${st.index +1 }">1위</div>
                        <div class="photo" th:if="${st.index<3}"><img th:src="@{${rank.lawyerImgPath}}"
                                th:alt="${rank.lawyerName}"></div>
                    </div>
                    <div class="among"><a class="name" th:text="${rank.lawyerName}+'&nbsp;변호사'">김하나 변호사</a></div>
                    <div class="right">
                        <div class="pick" th:unless="${pick == like}">좋아요 <span class="v"
                                th:text="${#numbers.formatInteger(rank.lawyerLike, 0, 'COMMA')}">3,451</span></div>
                        <div class="pick" th:unless="${pick == like}" >답변수 <span class="v"
                                th:text="${#numbers.formatInteger(rank.lawyerAnswerCnt, 0, 'COMMA')}">3,951</span></div>
                    </div>
                </div>

            </section>

            <section class="category-section">
                <div class="category">
                    <h2>카테고리별</h2>
                </div>
                <div class="category-group" th:each="rankI, st : ${rankingMap}" >
                    <h3 class="category-title" th:text="${rankI.key}">카테고리명</h3>
                    <div class="grid">
                        <div class="card" th:each="iRank, st : ${rankI.value}" th:if="${st.index < 3}" th:class="${st.index==0 ? 'card1' : (st.index==1 ? 'card2' : (st.index==2 ? 'card3' : 'card'))}">
                            <div class="ranknum" 
                                 th:classappend="${st.index==0 ? 'ranknum1' : (st.index==1 ? 'ranknum2' : (st.index==2 ? 'ranknum3' : ''))}" th:text="${st.index + 1} + '위'">1위</div>
                            <div class="Cphoto"><img th:src="@{${iRank[4]}}" th:alt="${iRank[3]}"></div>
                            <div class="name" th:text="${iRank[3]} + ' 변호사'">김민지 변호사</div>
                            <div class="sub" th:text="'답변수 '+ ${iRank[6]}">답변수 1,150</div>
                            <div class="sub" th:text="'좋아요 '+ ${iRank[5]}">좋아요 1,200</div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </main>

    <div class="include" th:replace="~{include/footer :: footer}"></div>
    <script th:src="@{/js/js.js}"></script>
</body>

</html>