<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>랭킹</title>
    <link rel="stylesheet" th:href="@{/css/ranking.css}">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
  <div class="include" th:replace="~{include/header :: header}"></div>
    <main class="page-ranking">
        <div class="container">

            <div class="title-content"><span class="crown">👑</span>
                <h1>랭킹 TOP 10</h1>
            </div>

            <div class="filter">
                <a class="pickBtn" th:href="@{/rank/ranking(pick='like')}" th:classappend="${pick} == 'like' ? ' on' : ''">좋아요순</a>
                <a class="pickBtn" th:href="@{/rank/ranking(pick='answer')}" th:classappend="${pick} == 'answer' ? ' on' : ''">답변수순</a>
            </div>

            <section>
                <div class="top" th:each="rank, st : ${rankingList}" th:class="${st.index==0 ? 'top-1' : (st.index==1 ? 'top-2' : (st.index==2 ? 'top-3' : 'top'))}">
                    <div class="left">
                        <div class="num">1위</div>
                        <div class="photo" th:if="${st.index<3}"><img th:src="@{/${rank.lawyerImgPath}}" th:alt="${rank.lawyerName}"></div>
                    </div>
                    <div class="among"><a class="name" th:text="${rank.lawyerName}+'&nbsp;변호사'">김하나 변호사</a></div>
                    <div class="right">
                        <div class="pick" >좋아요 <span class="v" th:text="${#numbers.formatInteger(rank.lawyerLike, 0, 'COMMA')}">3,451</span></div>
                        <div class="pick">답변수 <span class="v" th:text="${#numbers.formatInteger(rank.lawyerAnswerCnt, 0, 'COMMA')}">3,951</span></div>
                    </div>
                </div>
  
            </section>

            <section class="category-section">
                <div class="category">
                    <h2>카테고리별</h2>
                </div>
                <div class="category-group" >
                    <h3 class="category-title">카테고리1</h3>
                    <div class="grid">
                        <div class="card">
                            <div class="ranknum">1위</div>
                            <div class="photo"><img src="#" alt=""></div>
                            <div class="name">김민지 변호사</div>
                            <div class="sub">좋아요 1,200</div>
                            <div class="sub">답변수 1,150</div>
                        </div>
                        <div class="card">
                            <div class="rank">2위</div>
                            <div class="photo"><img src="#" alt=""></div>
                            <div class="name">이준호 변호사</div>
                            <div class="sub">좋아요 1,100</div>
                            <div class="sub">답변수 1,050</div>
                        </div>
                        <div class="card">
                            <div class="rank">3위</div>
                            <div class="photo"><img src="#" alt=""></div>
                            <div class="name">박서연 변호사</div>
                            <div class="sub">좋아요 1,000</div>
                            <div class="sub">답변수 1,200</div>
                        </div>
                        <div class="card">
                            <div class="rank">4위</div>
                            <div class="photo"><img src="#" alt=""></div>
                            <div class="name">정우진 변호사</div>
                            <div class="sub">좋아요 950</div>
                            <div class="sub">답변수 980</div>
                        </div>
                        <div class="card">
                            <div class="rank">5위</div>
                            <div class="photo"><img src="#" alt=""></div>
                            <div class="name">최예린 변호사</div>
                            <div class="sub">좋아요 900</div>
                            <div class="sub">답변수 920</div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </main>
    <div class="include" th:replace="~{include/footer :: footer}"></div>
    <script th:src="@{/js/js.js}"></script>
    <script th:src="@{/js/ranking.js}"></script>
    <script>
        document.querySelectorAll('.num').forEach((el, i) => {
            el.textContent = `${i + 1}위`;
        })
        document.querySelectorAll('.ranknum').forEach((el, i) => {
            el.textContent = `${i + 1}위`;
        })
    </script>
</body>

</html>